*{
    font-family:Georgia, 'Times New Roman', Times, serif ;
}

body{
margin: 0%;
padding: 0%;

}

.Titulo{
    background-color: rgb(215, 18, 18);
    width: auto;
    height: 100px;
    text-align: center;
}